version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      minor-actions-dependencies:
        # GitHub Actions: Only group minor and patch updates (we want to carefully review major updates)
        update-types: [ minor, patch ]

  - package-ecosystem: npm
    directory: /workers
    schedule:
      interval: monthly
    groups:
      minor-npm-dependencies:
        # npm: Only group minor and patch updates (we want to carefully review major updates)
        update-types: [ minor, patch ]
